.navbarContainer{ 
    display: flex;
    justify-content: space-around;
    min-height: 8vh;
    align-items: center;
    background-color: var(--navbar-color);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 12vh;
    
}

.navbarLinks{
    display: flex;
    padding: 1rem 1rem;
    justify-content: flex-start;
    width: 100vw;
    align-items: center;
}

.navbarLinks a {
    font-size: 1rem;
    color: black;
    cursor: pointer;
    margin: 10px;

}

.navbarLinks a:hover {
    color: white;
    border-bottom: 1px solid white;
    transition: 0.7s;
}


.navbarLinks img{
    width: 60px;
    height: 60px;
    margin-right: 30px;
}




.navbarLinks li {
    list-style-type: none;
}


.navbarContainer > i{
    font-size: 30px;
    display: none;
    cursor: pointer;
}




@media all and (max-width: 768px) {
    
    .navbarContainer > i{
        display: block;
        margin-left: 300px;
        
        
    }

    .navbarLinks{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        background-color: var(--navbar-menu-color);
        padding: 40px;
        width: 70vw;
        transition: 1s;
        transform: translateX(-700px);
        border-bottom: 1px solid black;
    }

    .navbarLinks li {
        padding: 25px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid rgb(212, 199, 199);
        
    }

    .navbarLinks li:last-of-type {
        border-bottom: 1px solid rgb(0, 0, 0);
    }
    
    .navbarLinks a {
        font-size: 0.8rem;
    }

    .navbarLinks a:hover {
        color: white;
        border-bottom: 0px solid white;
        transition: 1s;
    }
    
    .navbarLinks img{
        width: 60px;
        height: 60px;
        margin-top: -20px;
        margin-left: 45px;
        padding: 1px;
    }

    .socialMediaNavbar{
        width: 60vw;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 20px;
 
    }
    
    .socialMediaNavbar img {
        width: 35px;
        height: 35px;
        margin-top: 20px;
        margin-left: 20px;
    }  
}