:root {
  --background: #dfdfdf;
  --navbar-color: rgb(167, 167, 167);


}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}


body{
  background: var(--background);
  font-size: 0.9rem;
  font-family: 'Roboto', sans-serif;
  font: 300;
}


a, li {
  text-decoration: none;
  list-style-type: none;

}